body {
    background-color: black;
    color: white;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
}

.cell img {
    width: 25px;
    height: auto;
}

.floor {
    background-color: gray;
}

.wall {
    background-color: brown;
}

.count {
    margin-left: 400px;

}


h2 {
    margin-left: 400px;
}

.btn {
    background-color: red;
    color: wheat;
    padding: 5px;
    border-radius: 4px;
    width: max-content;
}

.button {
    display: inline-block;
}